p	{
		color: green;
		text-align: right;
	}
	
	<style>
	.My_Style {
		background-color: red;
		color: blue;
		text-decoration: underline;
		font-weight: bold;
		font-size: large;
	}
	</style>