html {
    font-family: cursive;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    -ma-text-size-adjust: 100%;
}

.submit input[type="submit"] {
    border: none;
    margin: 0px 3%;
    width: 25%;
    border-radius: 7px;
}

